*{
    --header-text-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #333;
}

.container{
    padding: 0.5rem;
}

#header{
    min-height: 99vh;   
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background:  url('../../assets/images/maxresdefault.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--header-text-color);
    text-transform: uppercase;
}

/*logo*/

.logo{
    width: 90vw;
    position: relative;
    text-align: center;
    margin: 2rem;
    
    letter-spacing: 0.3em;
    border-bottom: solid 0.5px white;
    border-top: solid 0.5px white;
}

.logo h1{
    margin: 1rem;
    font-size: 1.8rem;  
}

.logo p{
    margin-bottom: 1rem;

    font-size: 0.8rem;
}

/*nav-bar*/

.nav-bar{
    position: relative;
    width:100%;
}

.nav-bar ul{
    text-align: center;
    width:100%;
}

.nav-bar ul li{
    list-style: none;
    
}

.nav-bar ul li a{
    padding: 0.9rem 0;
    display: inline-block;
    width: 10rem;

    color: var(--header-text-color);
    text-decoration: none;
    font-size: 0.9rem;
    border: white solid 1px;
}   

.nav-bar ul li:first-child a{
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}

.nav-bar ul li:last-child a{
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

@media (min-width: 540px){
    .logo{
        width: 25rem;
    }

    .nav-bar{
        margin-bottom: 1rem;
    }
}

.page-body{
    background: #282f31;
}

.page-body h2{
    text-align: center;
    color: #e74c3c;
    margin-top: 1rem;
}

.page-body p{
    margin: 2rem;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
}

#activity{
    background: #3498db;
    border: 0;
}

#activity h2{
    color: white;
}

#activity p{
    color: rgba(255, 255, 255, 0.75);
}

footer > *{
    display: block;
}

footer{
    background: rgb(32, 33, 36);
    color: rgb(255, 255, 255);
    text-align: center;
}

footer > span{
    margin: 1rem;
}

.footer-logo {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    line-height: 7rem;
    text-align: center;
    background: #34495e;
  }